body {
    font-family: Arial, sans-serif;
}
#menu, #menu ul, #menu li {
    padding: 0;
    margin: 0;
}
#menu li {
    list-style: none;
    position: relative;
    width: 100px;
    height: 30px;
    padding: 0 20px;
    background-color: black;
    line-height: 30px;
    cursor: pointer;
}
#menu li a {
    display: block;
    text-decoration: none;
    color: white;
}
#menu li:hover, #menu li:focus-within {
    background-color: red;
}
#menu ul ul {
    position: absolute;
    top: 0;
    left: 140px;
    visibility: hidden;
    z-index: 1;
}
#menu ul ul li {
    width: 220px;
    white-space: nowrap;
}
#menu ul li:hover > ul, #menu ul li:focus-within > ul {
    visibility: visible;
}
